<div class="card mb-4 box-shadow">
  <img class="card-img-top" [src]="productItem.imageUrl" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{productItem.name}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="handleAddToCart()" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>
  </div>
</div>
